
.leavesRequests {
    justify-content: center;
    display: flex;
    font-size: 35px;
    margin-top: 20px;
    font-family: sans-serif;
}

.leaveAccepted {
    justify-content: center;
    display: flex;
    margin-top: 15px;
    color: green;
    font-family: sans-serif;
}

.leaveRejected {
    justify-content: center;
    display: flex;
    margin-top: 15px;
    color: red;
    font-family: sans-serif;
}

.noPending, .yourRequest {
    justify-content: center;
    display: flex;
    margin-top: 15px;
    font-family: sans-serif;
}

.leaveForm {
    padding: 30px 0;
    text-align: center;
}

.asterisk {
    color: rgb(201, 42, 42);
}

.inputTexts {
    font-size: 15px;
    font-family: sans-serif;
}

.dates {
    justify-content: center;
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.messageBox {
    justify-content: center;
    display: flex;
    margin-top: 15px;
}

.textarea {
    width: 450px;
    height: 250px;
}

.attachments {
    justify-content: center;
    display: flex;
    margin-top: 15px;
}

.submitBtnEnabled {
    margin-top: 20px;
    width: 90px;
    height: 40px;
    background-color: rgb(30, 30, 192);
    border-radius: 4px;
    border: aliceblue;
    cursor: pointer;
    font-size: 20px;
}

.submitBtnDisabled {
    margin-top: 20px;
    width: 90px;
    height: 40px;
    background-color: rgb(99, 99, 179);
    border-radius: 4px;
    border: aliceblue;
    cursor: pointer;
    font-size: 20px;
}