
.leavesRequests {
    justify-content: center;
    display: flex;
    font-size: 35px;
    margin-top: 20px;
}

.leaveAccepted {
    justify-content: center;
    display: flex;
    margin-top: 15px;
    color: green;
}

.leaveRejected {
    justify-content: center;
    display: flex;
    margin-top: 15px;
    color: red;
}

.noPending, .yourRequest {
    justify-content: center;
    display: flex;
    margin-top: 15px;
}

.registrationForm {
    padding: 30px 0;
    text-align: center;
}

.dates {
    justify-content: center;
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.messageBox {
    justify-content: center;
    display: flex;
    margin-top: 15px;
}

.textarea {
    width: 450px;
    height: 250px;
}

.attachments {
    justify-content: center;
    display: flex;
    margin-top: 15px;
}

.submitBtn {
    margin-top: 20px;
    width: 70px;
    height: 30px;
}