.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navBarList {
    float: right;
    margin-left: 10px;
}

.leavesBox {
    width: 700px;
    border: 1px solid white;
    padding: 20px;
    margin: 50px;
}

.message {
    margin-top: 10px;
}

.attachments {
    margin-top: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.noRequests {
    display: flex;
    justify-content: center;
}